<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Intercursos UFMT 2013{% endblock %}</title>
  {% block stylesheets %}
    {% stylesheets
      'bundles/infocorpintercursos/css/style.css'
      'bundles/infocorpintercursos/css/normalize.css'
      'bundles/infocorpintercursos/css/bootstrap.min.css'
      'bundles/infocorpintercursos/css/bootstrap-responsive.min.css'
      filter='?cssmin'
      output='css/generated/layout.css'
      %}
      <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
  {% endblock %}
</head>
<body>
  {% block header %}
    <header class="top">
      <div class="top-bar">
        <div class="top-bar-inner"></div>
      </div>
      <div class="inner-top">
        <div class="logo">
          <a href="{{ path('homepage') }}" title="Intercursos UFMT 2013 | Home">
            <img id="image-concept" src="{{ asset('bundles/infocorpintercursos/images/logo.png') }}" title="Logo" />
          </a>
        </div>
        <nav class="menu">
          <ul class="navigation">
            <li class="nav-item"><a href="#">Modalidades</a><span class="menu-separator border-blue"></span></li>
            <li class="nav-item"><a href="#">Notícias</a><span class="menu-separator border-red"></span></li>
            <li class="nav-item"><a href="#">Contato</a><span class="menu-separator border-green"></span></li>
          </ul>
        </nav>
      </div>
      <div class="image-concept">
        <img src="{{ asset('bundles/infocorpintercursos/images/img_topo.jpg') }}">
        <div class="concept-description">
          <h1>Uma descricao do torneio aqui</h1>
          <p>Colocar descricao neste espaco</p>
        </div>
      </div>
    </header>
  {% endblock %}
    <div class="container main-content">
      {% block content %}{% endblock %}
    </div>
    {% block footer %}
      <footer class="footer">
        <section class="footer-column"></section>
        <section class="footer-column"></section>
        <section class="footer-column">
          <img id="logo-infocorp" src="{{ asset('bundles/infocorpintercursos/images/infocorp_logo.png') }}" alt="Logo" title="Infocorp - Empresa Júnior do IC"/>
        </section>
      </footer>
    {% endblock %}

    {% block javascripts %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        {% javascripts
              'bundles/infocorpintercursos/js/bootstrap.min.js'
              output='js/generated/main.js'
          %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
      {% endjavascripts %}
    {% endblock %}
  </div>
</body>
</html>